{% extends "base.html.twig" %}

{% block body %}
{% include "ask/banner.html.twig" %}
    <div class="ui container">
        {% block content %}{% endblock %}
    </div>
    {% include "ask/footer.html.twig" %}
{% endblock %}