{% set actived = 'index' %}

{% extends "global/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link{% if sort == 'latest' or sort == '' %} active{% endif %}"
                           href="{{ path('question_index') }}">latest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if sort == 'hottest' %} active{% endif %}"
                           href="{{ path('question_index') }}?sort=hottest">hottest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if sort == 'unanswered' %} active{% endif %}"
                           href="{{ path('question_index') }}?sort=unanswered">unanswered</a>
                    </li>
                </ul>
            </div>
            {% set tag_list = true %}
            {% include "global/question_list.html.twig" with {'tags_list': true} %}
        </div>
        {{ knp_pagination_render(questions) }}
    </div>
{% endblock %}