{% extends "base.html.twig" %}

{% block body %}
    {% include "global/banner.html.twig" %}
    <div class="ui container">
        {% block content %}{% endblock %}
    </div>
    {% include "global/footer.html.twig" %}
{% endblock %}